<div class="justify-content text-center" style="display: flex !important; align-items: center !important;">
  <div
    class="main-slider pattern-overlay slick-initialized slick-slider slick-dotted"
  >
    <div aria-live="polite" class="slick-list draggable">
      <div class="slick-track" role="listbox" style="opacity: 1; width: 2800px">
        <div
          class="slider-item slick-slide slick-current slick-active"
          data-slick-index="0"
          aria-hidden="false"
          tabindex="-1"
          role="option"
          aria-describedby="slick-slide00"
          style="
            padding-left: 380px;
            width: 1400px;
            position: relative;
            left: 0px;
            top: 0px;
            z-index: 999;
            opacity: 1;
          "
        >
          <div class="banner-content">
            <h2 class="banner-title">Last Enemy</h2>
            <p>
              Dois sargentos em um exército possuem abordagens distintas sobre a execução das missões. O primeiro sargento segue cegamente as ordens de seus superiores, sem questioná-las, mesmo que isso signifique expor seus companheiros e civis inocentes a perigos. Por outro lado, o segundo sargento é mais questionador, priorizando a proteção dos civis e de seus companheiros acima de tudo.
            </p>
            <div class="btn-wrap">
              <a
                href="https://www.calameo.com/read/0073801474b004b98a9a0"
                class="btn btn-outline-accent btn-accent-arrow"
                tabindex="0" target="_blank"
                >Lear o Ebook<i class="icon icon-ns-arrow-right"></i
              ></a>
            </div>
          </div>
          <!--banner-content-->
          <img
            src="assets/images/main-bannerLe.jpg"
            alt="banner"
            class="banner-image"
          />
        </div>
        <div
          class="slider-item slick-slide"
          data-slick-index="1"
          aria-hidden="true"
          tabindex="-1"
          role="option"
          aria-describedby="slick-slide01"
          style="
            width: 1400px;
            position: relative;
            left: -1400px;
            top: 0px;
            z-index: 998;
            opacity: 0;
          "
        ></div>
      </div>
    </div>
    <!--slider-item-->

    <!--slider-item-->
  </div>
</div>
