.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.section-title {
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  position: relative;
  margin-bottom: 15px;
}

.search-input {
  height: 40px;
  width: 300px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 235px;
  background-color: #eaeaea;
  color: #555555;
  font-size: 16px;
}

.reserved-button {
  background-color: red;
  color: white;
}

.size-image {
  width: 280px !important ;
  height: 330px !important ;
}
