
<app-nav></app-nav>

<section class="contact-information mt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-0 mb-3">

				<h2>Contato</h2>

				<div class="contact-detail d-flex flex-wrap mt-4">
					<div class="detail mr-6 mb-4">
						<ul class="list-unstyled list-icon">
              <li><i class="fas fa-link"></i><a href="https://curriculocarlospires.netlify.app/">Portifólio Web</a></li>
              <li><i class="fas fa-phone"></i>67 98196-2036</li>
              <li><i class="fas fa-envelope"></i><a href="mailto:carlos-henry@hotmail.com">carlos-henry@hotmail.com</a></li>

						</ul>
					</div><!--detail-->

				</div><!--contact-detail-->
			</div><!--col-md-6-->


		</div>
	</div>
</section>

<app-footer></app-footer>
<router-outlet></router-outlet>
