<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4">

				<div class="footer-item">
					<div class="company-brand">
						<img src="assets/images/main-logo.png" alt="logo" class="footer-logo">
						<p>

              O sistema web permite buscar e visualizar informações sobre livros usando a API do Google Books, com recursos de reserva e notificações visuais.
            </p>
					</div>
				</div>

			</div>

			<div class="col-md-2">

			</div>
			<div class="col-md-2">
        <div class="footer-menu">
					<h5>Desenvolvedor</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="https://curriculocarlospires.netlify.app/">Carlos Pires - Portifólio</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-md-2">

				<div class="footer-menu">
					<h5>Acesso</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a href="#">Perfíl</a>
						</li>
						<li class="menu-item">
							<a routerLink="/livrosReservados">Minhas Reservas</a>
						</li>

					</ul>
				</div>

			</div>
			<div class="col-md-2">

				<div class="footer-menu">
					<h5>Contato</h5>
					<ul class="menu-list">
						<li class="menu-item">
							<a routerLink="/contato">Contato</a>
						</li>
					</ul>
				</div>

			</div>

		</div>
		<!-- / row -->

	</div>
</footer>

